[user]
	name = Denys Mikhalenko
	email = denys@prontiol.com
[core]
	autocrlf = input
	editor = vim
	excludesfile = /Users/Prontiol/.gitexcludes
[push]
	default = simple
	followTags = true
[pull]
	rebase = preserve
[color]
	ui = auto
