[user]
	name = Denys Mikhalenko
	email = denys@prontiol.com
[core]
	autocrlf = input
	editor = vim
	attributesfile = ~/.gitattributes
	excludesfile = /Users/Prontiol/.gitexcludes
[fetch]
	prune = true
[push]
	default = simple
	followTags = true
[color]
	ui = auto

# Any GitHub repo with my username should be checked out r/w by default
# http://rentzsch.tumblr.com/post/564806957/public-but-hackable-git-submodules
[url "git@github.com:prontiol/"]
        insteadOf = "git://github.com/pontiol/"

# Rewrites of repo paths
[url "git@github.com:"]
        insteadOf = "gh:"
        insteadOf = "git://github.com"
        pushInsteadOf = "github:"
        pushInsteadOf = "git://github.com/"
        pushInsteadOf = "https://github.com/"

[url "git://github.com/"]
        insteadOf = "github:"

[url "git@gist.github.com:"]
        insteadOf = "gst:"
        pushInsteadOf = "gist:"
        pushInsteadOf = "git://gist.github.com/"
        pushInsteadOf = "https://gist.github.com/"

[url "git://gist.github.com/"]
        insteadOf = "gist:"

